<div fxLayout="column" class="scrollable-container">
    <perfect-scrollbar fxFlex [config]="scrollbaConfig" scroll-padding="15" class="dashboard-content">
        <div #cardsRow fxLayoutWrap fxLayout.gt-sm="row" fxLayout="column">
            <div fxFlex.gt-sm="50" fxFlex.gt-md="25">
                <md-card class="example-card">
                    <md-card-header>
                        <div md-card-avatar class="example-header-image "></div>
                        <md-card-title>Shiba Inu</md-card-title>
                        <md-card-subtitle>Dog Breed</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button>LIKE</button>
                        <button md-button>SHARE</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-md="25">
                <md-card class="example-card">
                    <md-card-header>
                        <div md-card-avatar class="example-header-image "></div>
                        <md-card-title>Shiba Inu</md-card-title>
                        <md-card-subtitle>Dog Breed</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button>LIKE</button>
                        <button md-button>SHARE</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-md="25">
                <md-card class="example-card">
                    <md-card-header>
                        <div md-card-avatar class="example-header-image "></div>
                        <md-card-title>Shiba Inu</md-card-title>
                        <md-card-subtitle>Dog Breed</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button>LIKE</button>
                        <button md-button>SHARE</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-md="25">
                <md-card class="example-card">
                    <md-card-header>
                        <div md-card-avatar class="example-header-image "></div>
                        <md-card-title>Shiba Inu</md-card-title>
                        <md-card-subtitle>Dog Breed</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button>LIKE</button>
                        <button md-button>SHARE</button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div #chartsRow fxLayoutWrap fxLayout.gt-md="row" fxLayout="column" style="display: block;">
            <canvas baseChart 
                    fxFlex="50"
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </perfect-scrollbar>
</div>